@import url('../fonts/Poppins.css');
@import url('./basic.css');
/** top main **/
.box-main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.box-main-header .main-nav{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    flex-grow: 1;
    gap: 40px;
}
.box-main-header .main-nav .main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 64px;
    flex-grow: 1;
}
.link {
    color: var(--color-primary-light);
    font-style: 18px;
    font-weight: 600;
    font-family: 'Poppins-SemiBold', sans-serif;
}

.link:hover {
    color: var(--color-primary-green);
}
.main-title{
    font-family: 'Poppins-Black', sans-serif;
    font-size: 128px;
    color: var(--color-primary-light);
    text-align: center;
    margin: 275px 0;
}
.main-title span{
    color: var(--color-primary-green);
}
.button{
    background-color: var(--color-primary-green);
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins-SemiBold', sans-serif;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--color-primary-green)
}
.button:hover,
.button:focus,
.button:active{ background-color: transparent; color: var(--color-secondary-dark);}
/** main top section **/
.logo-link{
    width: 150px;
    height: auto;
    display: block;
    position: relative;
}
.logo-link img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
}
.main-top{
    width: 100%;
    height: auto;
    padding: 16px 0;
    background-color: var(--color-primary-green);
}
.main-top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.main-top-section .main-top-item{
    font-size: 20px;
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 300;
    color: var(--color-primary-light);
}
/** new format traditions section **/
.new-format-traditions{
    font-size: 64px;
    font-family: 'Poppins-Black', sans-serif;
    color: var(--color-primary-dark);
    font-weight: 900;
    line-height: 1.5;
    text-align: left;
}
.traditions-section .tradition-text{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins-Regular', sans-serif;
    padding-top: 42px;
}
.traditions-section .tradition-text.limited-width{
    max-width: 335px;
}
.traditions-section .tradition-text span{
    color: var(--color-primary-green);
    font-weight: 600;
    font-family: 'Poppins-SemiBold', sans-serif;
}
.traditions-section p .shop-bakery{
    text-transform: uppercase;
}
.traditions-section .wrap-box-traditions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.traditions-section .wrap-box-traditions .box-text{
    width: 70%;
    max-width: 710px;
}
.traditions-section .wrap-box-traditions .images-traditions{
    width: 30%;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
}
/** chefs section **/
.chefs-section .chefs-title{
    font-weight: 900;
    font-size: 64px;
    font-family: 'Poppins-Black', sans-serif;
    color: var(--color-primary-dark);
    text-align: center;
    margin-bottom: 80px;
    max-width: 550px;
    line-height: 1.3;
}
.chefs-section .box-chefs-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chefs-section .line{
    width: 50%;
    height: 2px;
    display: block;
    position: relative;
    background-color: var(--color-secondary-light);
}
.chefs-section .chefs-title span{
    color: var(--color-secondary-dark);
}
.chefs-section .chef{
    font-weight: 600;
    font-size: 32px;
    font-family: 'Poppins-SemiBold', sans-serif;
    color: var(--color-primary-dark);
    margin-bottom: 16px;
}
.chefs-section p{
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-primary-dark);
}
.chefs-section .wrap-box-chefs{
    display: flex;
    justify-content: space-between;
}
.chefs-section .wrap-box-chefs .box-chef{
    width: 50%;
}
/** formats section **/
.formats-section .formats-title{
    font-weight: 900;
    font-size: 64px;
    font-family: 'Poppins-Black', sans-serif;
    color: var(--color-primary-dark);
    text-align: center;
    margin-bottom: 80px;
}
.formats-section .formats-title-card{
    color: var(--color-primary-light);
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins-SemiBold', sans-serif;
}
.formats-section .formats-list li{
    font-weight: 300;
    font-size: 14px;
    color: var(--color-primary-light);
    font-family: 'Poppins-Light', sans-serif;
}
.formats-section .wrap-box-formats{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.formats-section .wrap-box-formats .box-format-item{
    flex-basis: calc((100% - 40px) / 3);
    padding: 24px;
}
/**contact forms **/
.contacts-section .contacts-title{
    font-weight: 900;
    font-size: 64px;
    font-family: 'Poppins-Black', sans-serif;
    color: var(--color-primary-dark);
    margin-bottom: 16px;
}
.contacts-section .contacts-text{
    color: var(--color-secondary-dark);
    font-weight: 400;
}
.contacts-section .primery-polisy{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins-Regular', sans-serif;
    color: var(--color-secondary-dark);
    text-align: center;
}
.contacts-section .box-contacts{
    display: flex;
    justify-content: space-between;
}
.contacts-section .box-contacts .wrap-box-contacts{
    
}
/** footer **/
.footer-link{
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.footer-link:hover,
.footer-policy-link,
.footer-contact-link:hover{
    color: var(--color-primary-green);
}
.footer-contact-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}
.footer-policy-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}
.footer-copyright{
    color: var(--color-secondary-braun);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}